h2 {
  font-size: 1.8em;
  color: #e4e4e4;
}

.schedule-block {
  margin-bottom: 6em;
}

.gridster li.fixed {
  background-color: transparent;
  border: 1px #6b6b6b solid;
  vertical-align: middle;
  color: #9b9b9b;
  font-size: 0.9em;
}

.gridster li.fixed header {
  pointer-events: none;
  height: 1.1em;
}

#buttonProgramSelector {
  font-weight: bold;
}

/* Course node */

.course-node {
  height: 100%;
}

.course-node div.header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 50px;
  height: 20px;
  background: green;
}

.course-node div.side {
  width: 20px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.course-node div.side.clash {
  background: red;
}

.course-node div.side.impediment {
  background: orange;
}

.course-node div.content {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 0.7em;
}