h2 {
  font-size: 1.8em;
  color: #e4e4e4;
}

.schedule-block {
  margin-bottom: 6em;
}

.gridster li.fixed {
  background-color: transparent;
  border: 1px #6b6b6b solid;
  vertical-align: middle;
  color: #9b9b9b;
  font-size: 0.9em;
}

.gridster li.fixed header {
  pointer-events: none;
  height: 1.1em;
}

#buttonProgramSelector {
  font-weight: bold;
}